@import url(themes.css);

body {
  color: var(--text-color);
  background-color: var(--background);
  background-image: var(--background);
  position: relative;
  height: 100vh;
  text-align: center;
  background-size: cover;
  -webkit-background-size: cover;
}
div.siteinfos {
  display: flex-center;
  justify-content: flex-center;
  position: relative;
  top: 125px;
}
.mainNAVimage-container {
  display: block;
  width: 50px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  overflow: hidden; /* Hide overflowing content */
}

.mainNAVimage {
  width: 100%; /* Make sure the image takes the full width of its container */
  height: 100%;
  object-fit: cover;
}
.credits {
  display: flex-center;
  justify-content: flex-center;
  position: relative;
  top: 145px;
}
.proxy {
  display: flex-center;
  justify-content: flex-center;
  position: relative;
  top: 167px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent); 
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
.settings {
  border-radius: 15px;
  position: relative;
  top: 1px;
}
.settings-input {
  padding: 5px;
  border: 1px solid #ccc;
  color: var(--accent)
}
.settings-button {
  padding: 5px;
  border: 1px solid #ccc;
  width: 100px;
  color: var(--accent)
}
.center-container {
  border-radius: 15px;
  position: relative;
  top: 150px;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-bottom: 10px;
  flex: 0 0 calc(33.333% - 20px); /* Adjust the width of each item based on the number of items per row */
  margin-right: 20px;
}

/* Style each game item */
li {
  width: 145px;
  transition: all 0.2s ease;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  position: relative;
}

li img {
  width: 145px;
  height: 145px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

li p {
  width: 145px;
  height: 19px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: var(--text-color);
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  padding-top: 136px;
  padding-bottom: 12px;
}

li:hover {
  transform: scale(1.2);
}

li:hover .label {
  transform: translateX(-50%) scale(1.3);
}
.chatframe {
  box-sizing: border-box;
  overflow-clip-margin: content-box;
  display: inline-block; 
  overflow: hidden; 
  border-radius: 20px; 
  vertical-align: top; 
  padding-top: 136px;
}
.card {
    display: inline-block;
    width: 165px;
    height: 225px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-weight: bold;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

a img {
    width: 100%;
    height: 70%;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.card p {
    font-size: 16.5px;
}

.card a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
}

/* Responsive Grid Layout */
@media (min-width: 768px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; /* Adjust the gap between cards as needed */
    }

    .card {
        flex: 0 0 calc(16.666% - 20px); /* Adjust the width of each card to create a responsive grid */
    }
}
.settings-button {
    background-color: var(--accent);
    transition: 0.4s border;
    border-radius: 7px;
    border: none;
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding: 5px 15px;
    margin: 5px auto;
}
.theme-select {
  background-color: var(--accent);
    transition: 0.4s border;
    border-radius: 7px;
    border: none;
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding: 5px 15px;
    margin: 5px auto;
}
input[type=text] {
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f0f0f0;
    transition: 0.4s border;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 5px 15px;
    margin: 5px auto;
}
.GameButtons1 {
    transition: transform 0.3s ease;
}
.GameButtons2 {
    transition: transform 0.3s ease;
}
.GameButtons3 {
    transition: transform 0.3s ease;
}
.GameButtons1:hover {
    transform: scale(1.05);
}
.GameButtons2:hover {
    transform: scale(1.05);
}
.GameButtons3:hover {
    transform: scale(1.05);
}
    .version-container {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 5px;
      margin: 0; /* Remove default margin */
      display: flex;
      align-items: center;
      margin-bottom: -10px;
    }

    .version {
      margin-right: 10px;
      color: var(--text-color);
    }

    .link {
      text-decoration: underline; /* Add underline */
      margin-right: 10px;
      color: var(--text-color);
    }
