.GameContainer iframe {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 50%; /* Adjust the width as needed */
  height: 65%; /* Adjust the height as needed */
  position: absolute;
  flex: 1;
  float: left;
  margin-right: 20px;
}
.GameContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.FrameContainer {
  flex: 1;
}

.GameImageContainer {
  float: right;
  margin-left: 20px;
  margin-top: 50px; 
  width: 50px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  overflow: hidden; /* Hide overflowing content */
}

.GameTitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}

.GameDescription {
  margin-top: 10px;
  clear: both;
}

.GameInfo {
  max-width: 300px;
  margin-top: 20px;
}
