.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f0f0f0; /* Same color as text boxes */
}

button {
    width: calc(50% - 5px); /* Adjusted button width */
    padding: 10px;
    color: #333; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Increased margin-top */
    margin-right: 5px; /* Added margin-right */
}

button:last-child {
    margin-right: 0; /* Remove margin-right for last button */
}

button:hover {
    background-color: #cce5ff; /* Hover color */
}
        /* Style the container to center the dropdown */
        .container {
            text-align: center;
        }
        option {
          padding: 9px 16px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            font-family: 'Lato', sans-serif; /* Apply the Lato font to option text */
        }
        /* Style the dropdown button */
.dropdown-button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoGmNsZ2p8hz5XsrmMkoEGwOlGy7R1vEQXKuP0KkmlgxhUPs-4);
    background-size: cover;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    width: 200px;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    border-radius: 10px;
    width: 200px;
    z-index: 1;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
}
        /* Style the dropdown options */
        .dropdown-option {
            padding: 9px 16px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            font-family: 'Lato', sans-serif; /* Apply the Lato font to option text */
        }

        /* Show the options when the button is clicked */
        .custom-dropdown.active .dropdown-content {
            display: block;
        }

        /* Style the dropdown button */
.dropdown-button2 {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoGmNsZ2p8hz5XsrmMkoEGwOlGy7R1vEQXKuP0KkmlgxhUPs-4);
    background-size: cover;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    width: 200px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

        /* Style the dropdown options container */
.dropdown-content2 {
    display: none;
    position: relative;
    background-color: #333;
    border-radius: 10px;
    width: 200px;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    top: 60px;
}

        /* Style the dropdown options */
        .dropdown-option2 {
            padding: 9px 16px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            font-family: 'Lato', sans-serif; /* Apply the Lato font to option text */
        }

        /* Show the options when the button is clicked */
        .custom-dropdown2.active .dropdown-content2 {
            display: block;
        }
.SettingsTitle {
    position: relative;
    top: 320px;
    text-align: center;
    display: block;
}

.custom-dropdown {
    position: relative;
    top: 320px; /* Adjust as needed */
    text-align: center;
    display: block;
}

.SettingsTitle2 {
    position: relative;
    top: 1px;
    text-align: center;
    display: block;
}

.custom-dropdown2 {
    position: relative;
    top: 1px; /* Adjust as needed */
    text-align: center;
    display: block;
}


.theme-select {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #333; /* Add border to simulate dropdown button */
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    width: 200px; /* Adjust the width as needed */
    cursor: pointer;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoGmNsZ2p8hz5XsrmMkoEGwOlGy7R1vEQXKuP0KkmlgxhUPs-4);
}

.theme-select .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    border-radius: 10px;
    width: 200px;
    z-index: 1;
}

.theme-select.active .dropdown-content {
    display: block;
}

.theme-select option {
    padding: 9px 16px;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
}

/* Remove default dropdown arrow */
.theme-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoGmNsZ2p8hz5XsrmMkoEGwOlGy7R1vEQXKuP0KkmlgxhUPs-4');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    padding-right: 25px; /* Adjust as per image width */
}

/* Add padding to select to make room for arrow */
.theme-select select {
    padding: 8px 16px;
}
        .dropdown-button-theme {
            padding: 8px 16px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoGmNsZ2p8hz5XsrmMkoEGwOlGy7R1vEQXKuP0KkmlgxhUPs-4');
            background-size: cover;
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-size: 19px;
            width: 200px; /* Adjust the width as needed */
        }

        /* Style the dropdown options container */
        .dropdown-content-theme {
            display: none;
            position: absolute;
            background-color: #333;
            border-radius: 10px;
            width: 200px;
            z-index: 1;
        }

        /* Style the dropdown options */
        .custom-dropdown-theme {
            padding: 9px 16px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            font-family: 'Lato', sans-serif; /* Apply the Lato font to option text */
        }
