body[theme="red and blue"] {
    --text-color: #ffffff;
    --background: linear-gradient(#e21f1f, #2233cf);
    --navbar: #e22e2e;
    --accent: #ffffff;
    --scrollbar-track: #000000;
                    
}
body[theme="amoled"] {
    --text-color: #ebebeb;
    --background: #000000;
    --navbar: #0f0f0f;
    --accent: #7700ff;
}
body[theme="main"] {
    --text-color: #ffffff;
    --background: #1a2023;
    --navbar: #0e1213;
    --accent: #7700ff;
}
body[theme="purple"] {
    --text-color: #ffffff;
    --background: linear-gradient(to right, rgb(128, 0, 128) , rgb(75, 0, 130));
    --navbar: #0f0f0f;
    --accent: #ffffff;
    --scrollbar-track: #000000;
}
